@page
@model IndexModel

<header class="d-flex">
    <h1>
        <img src="cs.png" alt="cs">
        Cliente C#
    </h1>
</header>
<main>
    <h2 class="page-title">Escolha uma ação</h2>
    <ul class="d-flex DashboardMenu">
        <li>
            <a href="/Users" class="d-flex">Gerenciar Usuários</a>
        </li>
        <li>
            <a href="/CPFForm" class="d-flex">Validar CPF</a>
        </li>
        <li>
            <a href="CalcForm" class="d-flex">Calculadora Simples</a>
        </li>
    </ul>
</main>
<footer class="d-flex">
    <p>&copy; ABC Bolinhas - 2021</p>
</footer>